<div>
    
    <app-welcome-content *ngIf="componentToShow == 'welcome'"/>
    <app-buttons (loginEvent)="showComponent('login')"
                 (logoutEvent)="showComponent('welcome')"
    />
    <app-login-form  *ngIf="componentToShow == 'login'"
        (onSubmitLoginEvent)="onLogin($event)"
        (onSubmitRegisterEvent)="onRegister($event)"
    />
    <!-- <app-auth-content *ngIf="componentToShow == 'messages'"/> -->
    
    <!-- Only render app-auth-content if componentToShow is 'messages' -->
    <app-auth-content *ngIf="componentToShow == 'messages'" (showError)="onShowError($event)"></app-auth-content>

</div>